/* ==========================================================================
	Fonts
/* ========================================================================== */
@font-face {
  font-family: 'EYInterstate-Bold';
  src: url("../fonts/EYInterstate-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Bold.woff") format("woff"), url("../fonts/EYInterstate-Bold.ttf") format("truetype"), url("../fonts/EYInterstate-Bold.svg#EYInterstate-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*@font-face {
  font-family: 'EYInterstate-BoldItalic';
  src: url("../fonts/EYInterstate-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-BoldItalic.woff") format("woff"), url("../fonts/EYInterstate-BoldItalic.ttf") format("truetype"), url("../fonts/EYInterstate-BoldItalic.svg#EYInterstate-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }*/
@font-face {
  font-family: 'EYInterstate-Italic';
  src: url("../fonts/EYInterstate-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Italic.woff") format("woff"), url("../fonts/EYInterstate-Italic.ttf") format("truetype"), url("../fonts/EYInterstate-Italic.svg#EYInterstate-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-Light';
  src: url("../fonts/EYInterstate-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Light.woff") format("woff"), url("../fonts/EYInterstate-Light.ttf") format("truetype"), url("../fonts/EYInterstate-Light.svg#EYInterstate-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
/*@font-face {
  font-family: 'EYInterstate-LightBold';
  src: url("../fonts/EYInterstate-LightBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-LightBold.woff") format("woff"), url("../fonts/EYInterstate-LightBold.ttf") format("truetype"), url("../fonts/EYInterstate-LightBold.svg#EYInterstate-LightBold") format("svg");
  font-weight: normal;
  font-style: normal; }*/
/*@font-face {
  font-family: 'EYInterstate-LightBoldItalic';
  src: url("../fonts/EYInterstate-LightBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-LightBoldItalic.woff") format("woff"), url("../fonts/EYInterstate-LightBoldItalic.ttf") format("truetype"), url("../fonts/EYInterstate-LightBoldItalic.svg#EYInterstate-LightBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }*/
/*@font-face {
  font-family: 'EYInterstate-LightItalic';
  src: url("../fonts/EYInterstate-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-LightItalic.woff") format("woff"), url("../fonts/EYInterstate-LightItalic.ttf") format("truetype"), url("../fonts/EYInterstate-LightItalic.svg#EYInterstate-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }*/
@font-face {
  font-family: 'EYInterstate-Regular';
  src: url("../fonts/EYInterstate-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Regular.woff") format("woff"), url("../fonts/EYInterstate-Regular.ttf") format("truetype"), url("../fonts/EYInterstate-Regular.svg#EYInterstate-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }



/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
$theme_dir: '/wp-content/themes/yeopress/';
$images_dir: '/wp-content/themes/yeopress/images/';

/* Colors */
$color_body: #171616;
$color_primary: #FDE500;
$color_secondary: #4F4F4F;

/* Font Sizes */
$size_base: 1em;
$browser-context: 16;

/* Fonts Family */
$font_base: 'EYInterstate-Regular', 'Arial';
$font_italic: 'EYInterstate-Italic', 'Arial';
$font_light: 'EYInterstate-Light', 'Arial';
$font_bold: 'EYInterstate-Bold', 'Arial';


.default-transition{
	-webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}


/* ==========================================================================
	Functions
/* ========================================================================== */

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}


/* ==========================================================================
	Base
/* ========================================================================== */
html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased !important;
    font-smooth: always;
    text-shadow: 0px 0px 1px transparent;
}
html,
button,
input,
select,
textarea {
	font-family: $font_light;
}
body {
	font-family: $font_light;
	height: 100%;
	margin: 0;
	font-size: $size_base;
	line-height: 1.4;
	color: $color_body;
}
/*	Apply to all elements. In a responsive design, this is almost always a good idea */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ==========================================================================
	Links
/* ========================================================================== */
a {
	color: $color_body;
	text-decoration: none;
	font-weight: bold;
}
a:focus,
a:hover {
	color: darken($color_body, 25%);
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $size_base;
	line-height: $size_base * 1.5;
}
h1 {
	font-size: $size_base * 2;
}
h2 {
	font-size: $size_base * 1.5;
}
h3 {
	font-size: $size_base * 1.3;
}
h4 {
	font-size: $size_base * 1.3;
	font-weight: normal;
}
h5, h6 {
	font-size: $size_base * 1.1;
}

.title-h1{
	font-size: em(60);
	font-family: $font_bold;
	color: #fff;
	text-transform: uppercase;
}

.title-h2{
	font-size: em(44);
	font-family: $font_bold;
	color: #000;
	line-height: em(50, 44);
	margin: 0 0 em(30, 44);
}

.title-h3{
	font-size: em(30);
	font-family: $font_light;
	font-weight: 300;
	color: $color_secondary;
	line-height: 1em;
	margin: 0 0 em(30, 30);
}

.arial{
	font-family: 'Arial';
}

/* Content Block Elements */
dl,
menu,
ol,
ul,
p,
pre {
	margin: 0 0 $size_base;
}

/* Paragraphs */
p {
	font-size: em(16);
	line-height: em(24, 16);
	font-family: $font_light;
	font-weight: 300;
}

/* Lists */
menu,
ol,
ul {
	padding: 0 0 0 $size_base * 2;
}

/* Selection Colors */
/*::-moz-selection {
	background: $color_body;
	color: #FFF;
	text-shadow: none;
}
::selection {
	background: $color_body;
	color: #FFF;
	text-shadow: none;
}*/

/* =============================================================================
	Helper Classes
/* ========================================================================== */
.hidden {
    display: none !important;
    visibility: hidden;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    width: auto;
    background-color: #FFF;
    z-index: 99;
}

.invisible {
    visibility: hidden;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
}


/* Prefixed with tags to override default tag styling for these elemets if .button is added */
button,
.button,
a.button,
input.button {
	display: inline-block;
}
button:focus,
.button:focus,
a.button:focus,
input.button:focus,
button:hover,
.button:hover,
a.button:hover,
input.button:hover {

}
button:active,
.button:active,
a.button:active,
input.button:active {

}

.btn{
	padding: 0 50px;
	height: 45px;
	line-height: 45px;
	font-size: em(14);
	background-color: #fff;
	/*font-weight: 300;*/
	border-radius: 23px;
	display: inline-block;
	margin: 0;
	border: none;
	text-decoration: none;
	@extend .default-transition;

	&.btn-lg{
		height: 70px;
		line-height: 70px;
		font-size: em(16);
		padding: 0 140px;
		border-radius: 35px;
	}

    &.btn-primary{
    	font-family: $font_light;
    	font-weight: 300;
    	background-color: $color_primary;
    	color: $color_body;
    }

    &:hover{
    	background-color: $color_secondary;
    	color: #FFF;
    }
}

.container{
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 50px;
}

.content-cell{
	display: table-cell;
	vertical-align: middle;
}


/* Responsive Media Styles */
.media {
	/* Set width on this selector based on design and needs */
}
.media img,
.media video,
.media object,
.media iframe {
	width: 100%;
	height: auto;
}

img{max-width: 100%; height: auto;}
img.alignright { float: right; margin: 0 0 em(50) em(50); }
img.alignleft { float: left; margin: 0 em(50) em(50) 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.show-mobile{
	display: none !important;
}

/* Clear Fix */
.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Floats */
.floatleft {
	float: left;
}
.floatright {
	float: right;
}