.scroll-down{
	position: absolute;
	left: 50%;
	margin-left: -12.5px;
	padding: 20px 5px 0;

	&:before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 2px;
		height: 30px;
		background-color: #fff;
		-webkit-transform: translateX(11.5px);
		transform: translateX(11.5px);
	}

	span{
		display: block;
		text-indent: -9999px;
		width: 15px;
		height: 15px;
		position: relative;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		border-left: 2px solid #FFF;
		border-bottom: 2px solid #FFF;
		overflow: hidden;
	}
}

/* ==========================================================================
	MENU
/* ========================================================================== */
#main-nav{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 40px 0 0;
	@extend .default-transition;
    z-index: 99;

	.nav-left{
		float: left;
	}

	.logo{
		.icon{
			margin: 20px 0 0;
			display: block;
		}
		.full{
			margin: 12px 0 0;
			display: block;
		}
	}

	.nav-right{
		float: right;
		padding: 15px 0 0;
	}

	.btn-action{
		float: left;
		margin-right: 35px;

		.btn{
			height: 40px;
			line-height: 40px;
			font-size: em(16);
		}
	}

}

.toggle-menu{
	float: left;

	button{
		float: left;
		padding: 0;
		margin: 8px 0 0;
		border: none;
		cursor: pointer;
		background: transparent;

		&:focus{
			outline: 0 !important;
		}

		 span{
		    display: block;
		    float: left;
		    letter-spacing: 2px;
		 }

		 span.toggle {
		    margin-top: 10px;
		     width: 30px;
		     height: 2px;
		     background-color: #FFF;
		     text-indent: -99999px;
		     position: relative;
		     -webkit-touch-callout: none;
		     -webkit-user-select: none;
		     -khtml-user-select: none;
		     -moz-user-select: none;
		     -ms-user-select: none;
		     user-select: none;

		     &:before, &:after{
		       position: absolute;
		        left: 0;
		        width: 100%;
		        height: 100%;
		        background: #FFF;
		        content: '';
		        -webkit-transition: -webkit-transform 0.3s;
		        transition: transform 0.3s;
		     }

		     &:before {
		        -webkit-transform: translateY(-300%);
		        transform: translateY(-300%);
		    }

		    &:after{
		       -webkit-transform: translateY(300%);
		       transform: translateY(300%);
		    }
		 }

		 span.label{
		    height: 22px;
		    line-height: 22px;
		    font-weight: 300;
		    font-size: em(18, 11);
		    color: #FFF;
		    margin-right: 15px;
		    text-transform: uppercase;
		 }

		 /*&:hover{
		    span.toggle{
		       &:before{
		          -webkit-transform: translateY(-400%);
		          transform: translateY(-400%);
		       }

		       &:after{
		          -webkit-transform: translateY(400%);
		          transform: translateY(400%);
		       }
		    }
		 }*/
	}
}

.social-menu{
	margin: 0 auto;
	padding: 0;

	li{
		float: left;
		display: block;
		margin: 0 40px 0 0;

		&:last-child{
			margin-right: 0;
		}

		a{
			display: block;
			width: 64px;
			height: 64px;
			border: 2px solid #000;
			border-radius: 50%;
			color: #000;
			-webkit-transition: background 0.3s ease-in-out, border-color 0.2s ease;
		     -moz-transition: background 0.3s ease-in-out, border-color 0.2s ease;
		     -ms-transition: background 0.3s ease-in-out, border-color 0.2s ease;
		     -o-transition: background 0.3s ease-in-out, border-color 0.2s ease;
		     transition: background 0.3s ease-in-out, border-color 0.2s ease;

			span{
				display: none;
			}

			svg{
				width: 100%;
				height: 100%;
				fill: currentColor;
				-webkit-transition: background 0.3s ease-in-out;
			     -moz-transition: background 0.3s ease-in-out;
			     -ms-transition: background 0.3s ease-in-out;
			     -o-transition: background 0.3s ease-in-out;
			     transition: background 0.3s ease-in-out;
			}

			&:hover{
				color: #858585;
				border-color: #fff;
				background-color: #fff;
			}
		}
	}
}

#full-menu{
	position: fixed;
	width: 100%;
	height: 0;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: $color_primary;
	@extend .default-transition;

	.container{
		position: relative;

		.toggle-menu{
			position: absolute;
			right: 50px;
			top: 55px;
			-webkit-transition: all 0.3s ease-in-out;
		     -moz-transition: all 0.3s ease-in-out;
		     -ms-transition: all 0.3s ease-in-out;
		     -o-transition: all 0.3s ease-in-out;
		     transition: all 0.3s ease-in-out;

			button{
				span.label{
					color: $color_body;
				}
				span.toggle{
					background-color: $color_body;

					&:before, &:after{
						background-color: $color_body;
					}
				}
			}
		}
	}

	#main-menu{
		display: table;
		width: 100%;
		height: 100%;
		opacity: 0;
		-webkit-transition: all 0.3s ease-in-out 0.3s;
	     -moz-transition: all 0.3s ease-in-out 0.3s;
	     -ms-transition: all 0.3s ease-in-out 0.3s;
	     -o-transition: all 0.3s ease-in-out 0.3s;
	     transition: all 0.3s ease-in-out 0.3s;

	     ul{
			max-width: 640px;
	     }

		.primary-menu{
			margin: 50px auto 70px;
			padding: 0 25px;

			li{
				display: block;

				a{
					font-weight: 300;
					font-size: em(40);
					line-height: em(60, 40);
					color: #000;
					text-decoration: none;
					display: inline-block;
					padding: 0 130px 0 25px;
				     position: relative;

				     &:before{
				     	content: "";
				     	position: absolute;
				     	left: 0;
				     	top: 0;
				     	z-index: -1;
				     	background: #fff;
				     	height: 100%;
				     	border-radius: 30px;
				     	width: 0;
				     	opacity: 0;
				     	@extend .default-transition;
				     }

					&:hover{
						&:before{
							width: 100%;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.call-to-action{
		max-width: 640px;
		margin: 0 auto;
	}

	.social-menu{
		padding: 0 50px;
	}
}


body{
   &.open{

   	#full-menu{
   		height: 100%;

   		#main-menu{
   			opacity: 1;
   		}
   	}

     .toggle-menu{
        button span.toggle {
            background-color: transparent !important;
        }
        button span.toggle:before {
            -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
        }
        button span.toggle:after {
            -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
        }
     }

   }

   &.scroll{
		#main-nav{
			background-color: rgba(000,000,000,0.9);
			padding: 10px 0 25px;

			.logo{
				.icon{
					display: block;
				}

				/*.full{
					display: none;
				}*/
			}

			.nav-right{
				padding-top: 45px;
			}
		}

		#full-menu{
     		.toggle-menu{
     			top: 55px;
     		}
     	}
   }
}

/* ==========================================================================
	PAGE HOME
/* ========================================================================== */
#home-header{
	width: 100%;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	// background-color: #000;
	color: #FFF;
	position: relative;

	.scroll-down{
		bottom: 55px;
		z-index: 10;
	}

	.container{
		position: relative;
	}

	.owl-carousel, .owl-stage, .owl-stage-outer, .owl-item{
		height: 100%;
	}

	.owl-carousel{
		padding: 0;
		margin: 0;

		.owl-item{
			> li{
				height: 100%;
				width: 100%;
				display: table;
				position: relative;

				.home-header-bg{
					position: absolute;
					z-index: 0;
					width: 100%;
					height: 100%;
					-webkit-background-size: cover;
					background-size: cover;
					background-position: center;
					-webkit-transform: scale(1.2);
						transform: scale(1.2);
					opacity: 0;
					-webkit-transition: all 0.5s ease-in-out 0.5s;
				     -moz-transition: all 0.5s ease-in-out 0.5s;
				     -ms-transition: all 0.5s ease-in-out 0.5s;
				     -o-transition: all 0.5s ease-in-out 0.5s;
				     transition: all 0.5s ease-in-out 0.5s;
				}

				.content{
					position: relative;
					z-index: 1;
					display: table-cell;
					vertical-align: bottom;
					padding: 0 0 40px;
				}

				.home-header-text{
					opacity: 0;
					-webkit-transform: translate3d(-50px, 0, 0);
      					transform: translate3d(-50px, 0, 0);
					width: 485px;
					/*height: 415px;*/
					/*padding-top: 33%;*/
					position: relative;
					/*background: url(../images/shape-header.svg) no-repeat;
					-webkit-background-size: 100%;
					background-size: 100%;*/
					margin: 0;
					-webkit-transition: opacity 0.3s ease-in-out 0.9s, transform 0.3s ease-in-out 0.9s;
				     -moz-transition: opacity 0.3s ease-in-out 0.9s, transform 0.3s ease-in-out 0.9s;
				     -ms-transition: opacity 0.3s ease-in-out 0.9s, transform 0.3s ease-in-out 0.9s;
				     -o-transition: opacity 0.3s ease-in-out 0.9s, transform 0.3s ease-in-out 0.9s;
				     transition: opacity 0.3s ease-in-out 0.9s, transform 0.3s ease-in-out 0.9s;

				     img{
				     	width: 100%;
				     	height: auto;
				     }

				    .text{
				    	display: none;
				    	position: absolute;
				    	bottom: 0;
				    	left: 0;
				    	padding: 12%;
				    }

					h2{
						font-family: $font_bold;
						font-size: em(36);
						font-weight: bold;
						letter-spacing: em(-1.6, 36);
						line-height: em(42, 36);
						margin: 0 0 em(10, 36);
					}

					h3{
						font-family: $font_base;
						font-weight: normal;
						font-size: em(18);
						letter-spacing: em(-0.8, 18);
						line-height: em(28, 18);
						margin: 0;
					}

				}
			}

			&.active{
				li{
					.home-header-text, .home-header-footer{
						opacity: 1;
						-webkit-transform: translate3d(0, 0, 0);
	      					transform: translate3d(0, 0, 0);
					}

					.home-header-bg{
						opacity: 1;
						-webkit-transform: scale(1);
							transform: scale(1);
					}
				}
			}
		}
	}

	.bullets{
		position: absolute;
		bottom: 25px;

		ul{
			padding: 0;
			margin: 0;

			li{
				float: left;
				display: block;
				margin-right: 4px;
				width: 6px;
				height: 6px;
				background: $color_primary;
			}
		}
	}

	.home-header-footer{
		float: right;
		margin-top: -30px;
		opacity: 0;
		-webkit-transition: all 0.3s ease-in-out 1.2s;
		 -moz-transition: all 0.3s ease-in-out 1.2s;
		 -ms-transition: all 0.3s ease-in-out 1.2s;
		 -o-transition: all 0.3s ease-in-out 1.2s;
		 transition: all 0.3s ease-in-out 1.2s;
		-webkit-transform: translate3d(50px, 0, 0);
			  transform: translate3d(50px, 0, 0);

		.floatleft{
			position: relative;

			p{
				font-family: $font_base;
				margin: 0;
				font-size: em(12);
			}
		}

		.floatright{
			h4{
				font-size: em(14);
				font-weight: 300;
				float: left;
				margin: 10px 30px 0 0;
			}

			h5{
				font-weight: 900;
				font-size: em(24);
				line-height: 1em;
				text-transform: uppercase;
				float: left;
				font-family: $font_bold;
				margin: 0;
				transform: translateY(-0.75em);

				span{
					color: $color_primary;
				}
			}
		}
	}

	video {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
	}
}

.home-header {
	&-video {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 30px;
		box-sizing: border-box;
		position: relative;
		z-index: 1;

		h2 {
			font-size: 45px;
			max-width: 450px;
			margin-bottom: 100px;
			line-height: 1.3em;

			@media screen and (max-width: 768px) {
				font-size: 32px;
			}
		}

		.container {
			width: 100%;
		}
		
		.home-header-footer {
			opacity: 1 !important;
			transform: none !important;
			width: 100%;

			@media screen and (max-width: 768px) {
				float: none;

				.floatright, .floatleft {
					float: none;
				}

				.floatleft {
					margin-top: 1em;

					.bullets {
						position: static;
						margin-bottom: 1em;
					}
				}

				.floatright {
					h5 {
						float: none !important;
					}
				}
			}
		}
	}
}


#call-to-action{
	padding: 30px 0;
	background-color: $color_primary;
	text-align: center;
}

.bg-parallax{
	-webkit-background-size: auto 110%;
	background-size: auto 110%;
	background-attachment: fixed;
}

#bgvid{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 150%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;*/
  transition: 1s opacity;
}

#h-section-01{
	height: 100vh;
	width: 100%;
	display: table;
	background-color: rgba(000,000,000,0.7);
	/*background-image: url(../images/bg-hsection01.jpg);
	background-color: #040404;*/
	text-align: center;
	color: #FFF;

	.scroll-down{
		bottom: -70px;
	}

	.container{
		position: relative;
	}

	h2{
		font-size: em(16);
		font-weight: 300;
		line-height: em(24, 16);
		margin: 0 0 em(10);
	}

	h3{
		font-family: $font_bold;
		font-weight: 900;
		font-size: em(100);
		line-height: em(85, 100);
		margin: 0 0 em(20, 150);
		text-transform: uppercase;

		span{
			color: $color_primary;
		}
	}

	p{
		max-width: 400px;
		margin: 0 auto em(35);
		text-align: justify;
		font-weight: 300;

		a{
			color: $color_primary;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

#h-section-02{
	padding: 130px 0;
	background: $color_primary;

	.container{
		max-width: 850px;
	}

	h2{
		margin: 0 0 em(50, 45);
	}

	.table-content{
		display: table;
		width: 100%;

		.table-col{
			display: table-cell;
			vertical-align: top;
			width: 50%;

			&:first-child{
				border-right: 1px solid #505050;
				padding-right: 50px;

				p{
					margin: 0 0 50px;
				}
			}

			&:last-child{
				padding-left: 70px;
			}
		}
	}

}

#h-section-universum{
	.table-container{
		width: 100%;
		height: 550px;
		display: table;
		background-color: #fff;

		.col-img{
			display: table-cell;
			width: 50%;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
		}

		.col-text{
			display: table-cell;
			vertical-align: middle;

			.content{
				position: relative;
				margin: 0 auto;
				max-width: 415px;
				padding-left: 30px;

				h2{
					font-family: $font_light;
					font-size: em(30);
					line-height: 1em;
					margin: 0 0 25px;
					font-weight: 300;
				}

				p{
					margin: 25px 0 45px;
				}

				img{
					position: absolute;
					margin-left: -130px;
				}
			}
		}
	}
}


.home-panel{
	max-width: 400px;

	.home-panel-header{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 70px 1px;
		border-color: transparent transparent $color_primary transparent;
	}

	.home-panel-body{
		display: table;
		min-height: 400px;
		padding: 40px 50px 60px;
		background-color: $color_primary;

		p{
			margin: 30px 0;
		}
	}

	&.right{
		float: right;
	}
}

.parallax-panel{
	width: 100%;
	height: 100vh;
	display: table;
	position: relative;

	.bg-parallax{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		-webkit-background-size: auto 130%;
		background-size: auto 130%;
	}

	.container{
		position: relative;
		z-index: 1;
	}
}



.home-panel2-body{
	width: 100%;
	max-width: 680px;
	padding: 115px 155px;
	background-color: #fff;

	p{
		margin: 30px 0;
	}

	.btn{
		width: 100%;
		text-align: center;
	}
}

#h-section-05{
	display: table;
	width: 100%;
	height: 100vh;
	position: relative;

	.bg-parallax{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		-webkit-background-size: auto 130%;
		background-size: auto 130%;
	}

	.home-panel2-body{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		z-index: 2;

		.hashtag{
			position: absolute;
			top: 50%;
			right: 0;
			margin: 0;
			transform: rotate(90deg) translateY(-50%);
			-webkit-transform: rotate(90deg) translateY(-50%);
			font-size: em(18);
			letter-spacing: em(6, 18);
			text-transform: uppercase;
		}
	}

	.bar-bottom{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;

		.bg{
			width: 100%;
			height: 80px;
			background: $color_primary;
		}

		.triangle{
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 330px 500px;
			border-color: transparent transparent $color_primary transparent;
		}
	}

	
}



#h-section-06{
	padding: 140px 0 90px;
	background-color: $color_primary;

	h2{
		text-align: center;
		margin: 0 0 em(110, 44);
	}

	.next-events{
		margin-left: -15px;
		margin-right: -15px;
		
		&:before, &:after{
			content: "";
			clear: both;
		}

		&:after{
			display: table;
		}

		.owl-carousel{
			margin: 0;
			padding: 0;

			li{
				display: block;
				width: 100%;
				padding: 0 15px 30px;

				a{
					text-decoration: none;
					display: block;
				}
			}
		}

		.allevents{
			margin: 70px 0 0;
			text-align: center;
		}
	}
}

.box-event{
	min-height: 420px;
	background: #262626;
	position: relative;
	@extend .default-transition;

	figure{
		margin: 0;

		img{
			width: 100%;
			height: auto;
		}
	}

	.box-event-info{
		padding: 30px;

		.event-date, .event-title{
			@extend .default-transition;
		}

		.event-date{
			text-transform: uppercase;
			font-family: $font_bold;
			font-weight: bold;
			font-size: em(35);
			line-height: em(40, 35);
			color: #CBCBCB;
			margin: 0 0 20px;
		}

		.event-title{
			font-family: $font_light;
			font-weight: 300;
			font-size: em(16);
			line-height: em(24, 16);
			margin: 0;
			color: #CBCBCB;
			max-width: 260px;
		}
	}

	.full-description{
		display: none;
		margin: 35px 0 70px;

		hr{
			border-top: 1px solid #212121;
			border-bottom: none;
		}

		p{
			max-width: 100%;
			margin: 25px 0;
		}
	}

	.st_sharethis_custom{
		cursor: pointer;
		position: absolute;
		display: block;
		width: 24px;
		height: 25px;
		bottom: 15px;
		right: 15px;
		background: url(../images/icon-share.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 2;
		text-indent: -9999px;
	}
}

.share-whatsapp{
	width: 245px;
	height: 60px;
	background: url(../images/whatsapp-share.svg) no-repeat left center;
	-webkit-background-size: cover;
	background-size: cover;
	display: inline-block;
	text-indent: -99999px;
	margin: 25px 0 40px;
}

#main-footer{
	.footer-links{
		background: #E7E7E9;
		padding: 35px 25px;

		.table-content{
			display: table;
			width: 100%;
			max-width: 800px;
			margin: 0 auto;

			.col{
				display: table-cell;
				vertical-align: middle;
				padding: 0 15px;

				&:nth-child(1){width: 26%; padding: 0 8px 0 0; }
				&:nth-child(2){
					width: 15%; 

					img{
						image-rendering: -moz-crisp-edges;         /* Firefox */
						image-rendering:   -o-crisp-edges;         /* Opera */
						image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
						image-rendering: crisp-edges;
						-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
					}
				}
				&:nth-child(3){width: 13%; }
				&:nth-child(4){
					width: 11%; 

					img{
						image-rendering: -moz-crisp-edges;         /* Firefox */
						image-rendering:   -o-crisp-edges;         /* Opera */
						image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
						image-rendering: crisp-edges;
						-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
					}
				}
				&:nth-child(5){width: 12%; padding-bottom: 25px; }
				&:nth-child(6){width: 13%; }
				&:nth-child(7){width: 10%; }

				img{
					width: 100%;
				}
			}
		}
	}

	.footer-social{
		padding: 40px 0;
		background: #414141;
		text-align: center;
		
		.social-menu{
			display: table;
			margin: 25px auto 40px;

			li{
				a{
					color: #FFF;
					border-color: #FFF;

					&:hover{
						color: #858585;
					}
				}
			}
		}

		.footer-social-table{
			width: auto;
			display: table;
			margin: 0 auto;

			> div{
				float: left;
			}

			.footer-social-share{
				margin-left: 40px;
				padding-left: 40px;
				position: relative;

				&:after{
					content:"";
					background-color: #AAAAAA;
					display: block;
					height: 80px;
					width: 1px;
					position: absolute;
					bottom: 40px;
					left: 0;
				}
			}
		}

		p{
			margin: 0;
			color: #AAAAAA;
		}

		p.copyright{
			font-size: em(10);
		}
	}
}


/* ==========================================================================
	HEADER
/* ========================================================================== */

.header-default{
	display: table;
	width: 100%;
	height: 500px;
	-webkit-background-size: 110% auto;
	background-size: 110% auto;
	text-align: center;

	.title-h1{
		margin: 60px 0 0;
	}
}

.header-video{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;

	.title-h1{
		margin: 60px 0 0;
	}

	video {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
	}
}


.header-full{
	display: table;
	width: 100%;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;

	.title-h1{
		margin: 60px 0 0;
	}

	h2{
		font-size: em(30);
		line-height: em(45, 30);
		text-align: center;
		margin: 20px auto 0;
		max-width: 630px;
		font-family: $font_light;
		font-weight: 300;
		color: #FFF;
	}

	.scroll-down{
		bottom: 90px;
	}
}







/* ==========================================================================
	PAGES
/* ========================================================================== */

.page-content{
	.header-default, .header-full{
		margin-bottom: 115px;
	}

	> section{
		margin: 0 0 120px;
	}
}

.page-subtitle{
	padding-left: em(30, 44);
	position: relative;

	&:before{
		content: "";
		width: em(5, 44);
		height: em(60, 44);
		background-color: $color_primary;
		display: inline-block;
		position: absolute;
		left: 0;
		top: em(-10, 44);
	}
}

.quotes-default{
	font-family: $font_italic;
	font-size: em(24);
	color: #525252;
	line-height: em(40, 24);
	text-align: center;
	margin: em(75, 24) auto em(140, 24);
	max-width: 610px;
	font-style: italic;

	p{
		color: #525252;
		margin: 0;
		font-family: $font_italic;
		font-size: 1em;
		line-height: em(40, 24);
		text-align: center;
	}

	&:before{
		display: block;
		content: "";
		width: 27px;
		height: 20px;
		background-image: url(../images/quotes.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto 50px;
	}
}

.text-content{
	.quotes-default{
		p{
			text-align: center;
			margin: 0;
			line-height: em(40, 24);
		}
	}
}

ul.unordered-list{
	margin: 0 140px 0 0;
	padding: 0 0 0 1em;
	float: left;

	li{
		line-height: em(30);
	}

	&.last{
		margin-right: 0;
	}

	&.small{
		li{
			line-height: em(24);
		}	
	}
}

.text-content{
	.container{
		max-width: 900px;
	}

	.title-h2 + .title-h3{
		margin-top: em(75, 30);
	}

	p{
		margin: 40px 0;
		text-align: justify;
		line-height: em(30);
	}
}

.image-with-bar{
	position: relative;
	text-align: center;
	margin: 70px 0 0;
	padding: 0 50px;

	img{
		position: relative;
		z-index: 1;
		max-width: 100%;
	}

	.bar{
		width: 100%;
		position: absolute;
		z-index: 0;
		left: 0;
		bottom: 0;

		.bg{
			width: 100%;
			height: 130px;
			background: $color_primary;
		}

		.triangle{
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 330px 1px;
			border-color: transparent transparent $color_primary transparent;
		}
	}
}

.bg-yellow{
	background-color: $color_primary;
	padding: 70px 0 115px;

	.title-h3, p{
		color: #040404;
	}

	.container{
		max-width: 930px;
	}
}

.box-image{
	display: table;
	width: 100%;
	max-width: 1100px;
	margin: 60px auto;
	height: 550px;
	background: #353535;

	& + .box-image{
		margin-top: 120px;
	}

	> div{
		display: table-cell;
		vertical-align: middle;
	}

	.box-img{
		width: 50%;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
	}

	.box-text{
		padding: 75px;
		color: #FFF;

		h3, h2{
			color: #FFF;
		}

		p{
			line-height: em(30);
		}
	}

	&.white{
		background-color: #FFF;

		.box-text{
			vertical-align: top;
			padding: 0 50px 0;
			color: $color_secondary;
		}
	}

	&.box-yellow{
		background-color: $color_primary;

		.box-text{
			color: #000;

			h3, h2{
				color: #000;
			}
		}
	}

	&.video{
		background-color: #FFF;
		height: auto;

		.box-img{
			width: 500px;
			position: relative;

			&:before{
				content: "";
				width: 100px;
				height: 100px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -50px;
				margin-top: -50px;
				background: url(../images/icon-video-play.svg) no-repeat center;
				-webkit-background-size: 100%;
				background-size: 100%;
			}

			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}

		.box-text{
			padding: 0 90px 0;
			color: $color_secondary;
		}
	}
}

.programs-list{
	.container{
		max-width: 1220px;

		ul{
			margin: 0 -10px 0 -10px;
			padding: 0;

			li{
				display: block;
				float: left;
				padding: 0 20px;
				width: 33.333333%;

				figure{
					margin: 0 0 20px;

					img{
						width: 100%;
						height: auto;
					}
				}

				p{
					line-height: em(30);
				}
			}
		}
	}
}

.collapse{
	margin: 50px auto;

	.container{
		max-width: 1000px;
	}

	.container-900{
		max-width: 900px;
	}

	.collapse-item{
		margin: 0;
	}

	.collapse-button{
		border: none;
		background: $color_primary;
		padding: 0;
		margin: 0;
		position: relative;
		width: 30px;
		height: 30px;
		text-align: center;
		border-radius: 50%;

		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -0.5px;
			margin-top: -7px;
			width: 1px;
			height: 15px;
			background-color: #000;
		}

		span{
			display: inline-block;
			text-indent: -9999px;
			width: 7px;
			height: 7px;
			position: relative;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			margin-top: 11px;
			border-left: 1px solid #000;
			border-bottom: 1px solid #000;
			overflow: hidden;
		}

		&.close{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		&.secondary{
			background: $color_secondary;
			
			&:before{
				background-color: #FFF;
			}

			span{
				border-color: #FFF;
			}
		}
	}

	.collapse-header{
		position: relative;
		margin: 0;
		display: table;
		width: 100%;
		height: 70px;
		border-bottom: 1px solid #979797;

		a{
			padding: 0 50px 0 0;
			display: table-cell;
			vertical-align: middle;
			color: $color_body;
			text-decoration: none;
		}

		.collapse-title{
			font-size: em(16);
			line-height: em(30, 16);
			margin: 0;
			font-family: $font_bold;
			font-weight: bold;
		}

		.collapse-button{
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -15px;
		}
	}

	.collapse-header-big{		
		height: 100px;
		background: #525252;
		border: none;
		margin: 0 0 20px;

		a{
			padding: 0 100px 0 50px;
			display: table-cell;
			vertical-align: middle;
			color: #FFF;
			text-decoration: none;
		}

		.collapse-title{
			font-size: em(28);
			font-family: $font_light;
			font-weight: 300;
			line-height: 1;
		}
	}

	.collapse-body{
		width: 100%;
		display: none;
		position: relative;
		margin: 20px 0;

		.collapse-button{
			position: absolute;
			right: 0;
			bottom: 0;
		}

		p{
			max-width: 800px;
		}

		.table-content{
			/*min-height: 500px;*/
			display: table;
			width: 100%;
			background: $color_primary;

			.col-image{
				display: table-cell;
				vertical-align: top;
				width: 500px;
				-webkit-background-size: cover;
				background-size: cover;

				img{
					width: 100%;
					height: auto;
					display: block;
				}
			}

			.col-text{
				display: table-cell;
				vertical-align: top;
				padding: 50px;

				h4{
					font-family: $font_light;
					font-size: em(30);
					font-weight: 300;
					line-height: 1;
					margin: 0 0 em(30, 30);
				}

				p{
					max-width: 600px;
					line-height: em(30);

					+ h4{
						margin-top: em(50, 30);
					}
				}
			}
		}
	}

	.item-number{
		position: relative;
		margin: 0 0 20px;

		.collapse-header{
			background-color: #4F4F4F;
			position: static;
			padding: 0 65px;
			border: none;


			a{
				color: #FFF;
			}

			.collapse-title{
				font-family: $font_light;
				font-weight: 300;
				font-size: em(28);
				line-height: 1;
			}

			.number{
				position: absolute;
				top: 0;
				left: 0;
				width: 50px;
				height: 70px;
				line-height: 70px;
				background-color: $color_primary;
				text-align: center;
				color: #000;
				font-size: em(15);
				font-family: $font_light;
				font-weight: 300;
			}

			.collapse-button{
				margin: 0;
				top: inherit;
				bottom: 10px;
				right: 10px;
			}
		}

		.collapse-body{
			margin: 0;

			.collapse-button.big{
				margin: 0;
				top: inherit;
				bottom: 10px;
				right: 10px;
			}
		}

		&.open{
			.collapse-header{
				background-color: $color_primary;

				.collapse-title{
					color: #000;
				}
			}
		}
	}
}


#page-menu{
	opacity: 0;
	position: absolute;
	top: 615px;
	left: 70px;
	background: #F4F4F4;
	min-width: 180px;
	z-index: 10;

	span{
		display: none;
		height: 45px;
		line-height: 45px;
		text-align: center;
		background-color: #CCC;
		font-size: em(14);
		font-weight: normal;
	}

	ul{
		padding: 0;
		margin: 0;

		li{
			display: block;

			a{
				display: block;
				height: 45px;
				line-height: 45px;
				padding: 0 15px;
				font-size: em(14);
				font-weight: normal;

				&.active{
					background: #CCCCCC;
				}
			}
		}
	}

	&.fixed{
		position: fixed;
	}
}


#other-links{
	margin: 170px 0 30px;

	hr{
		border-top: 1px solid #979797;
		margin: 0 0 30px;
	}

	.container{
		max-width: 1035px;
	}

	h2{
		font-family: $font_light;
		font-size: em(16);
		line-height: em(24);
		color: $color_secondary;
		margin: 0 0 em(30);
		font-weight: 300;
	}

	ul{
		padding: 0;
		margin: 0 -20px 0 -20px;

		&:before, &:after{
			content: "";
			clear: both;
		}

		&:after{
			display: table;
		}

		li{
			width: 50%;
			float: left;
			display: block;
			padding: 0 20px;

			a{
				color: #000;
				text-decoration: none;
				display: block;
			}

			figure{
				margin: 0 0 20px;

				img{
					width: 100%;
					height: auto;
				}
			}

			h3{
				font-family: $font_bold;
				font-size: em(18);
				font-weight: bold;
				color: #000;
			}
		}
	}
}

#sobre-presenca{
	.presenca-map{
		display: table;
		margin: 30px 0 100px;
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		-webkit-background-size: auto;
		background-size: auto;
		background-position: center;
		background-color: #353535;

		h4{
			font-family: $font_bold;
			font-weight: bold;
			font-size: em(45);
			line-height: em(55, 45);
			max-width: 500px;
			margin: 0 auto;
			color: #FFF;
			text-align: center;
		}
	}

	.brasil-map{
		max-width: 1000px;
		background-color: #353535;
		color: #FFF;
		margin: 80px auto 0;
		padding: 70px 0;

		.map{
			float: left;
			width: 350px;
			overflow: hidden;
			position: absolute;

			img{
				float: right;
			}
		}

		.brasil-text{
			display: table;
			height: 100%;
			float: right;
			padding-top: 90px;

			ul{
				margin: 0;
				padding: 0;
				float: left;

				li{
					display: block;
				}
			}

			.numbers{
				padding: 0 30px;

				li{
					font-size: em(30);
					line-height: em(50, 30);
				}
			}

			.cities{
				margin-top: 15px;
				padding: 0 30px 30px;
				border-left: 1px solid #979797;
			}
		}
	}
}


#page-programa{
	.header-default{
		margin-bottom: 0;
	}
}

#programa-intro{
	display: table;
	width: 100%;
	height: 100vh;
	max-height: 700px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-color: #292929;
	color: #FFF;

	.container{
		max-width: 800px;
	}

	h2{
		font-size: em(45);
		line-height: em(50, 45);
		color: #FFF;
		font-family: $font_bold;
		font-weight: 900;
		margin: 0 0 em(50, 45);

		span{
			color: $color_primary;
		}
	}

	.title-h3{
		color: #FFF;
	}

	p{
		// max-width: 400px;
		line-height: em(30);
	}
}

#programa-calendario{
	padding: 60px 0;
	background-color: $color_primary;

	.container{
		max-width: 900px;
	}

	.table-content{
		display: table;
		width: 100%;

		.col-icon{
			display: table-cell;
			vertical-align: middle;
			width: 180px;
		}

		.col-text{
			display: table-cell;
			vertical-align: middle;

			h3{
				margin-top: 20px;
				color: $color_body;
			}

			.btn{
				margin-top: em(35);
			}
		}
	}
}



#plano-intro{
	h2{
		font-family: $font_light;
		font-weight: 300;
		font-size: em(16);
		line-height: em(30);
		max-width: 570px;
		text-align: center;
		margin: 0 auto 50px;
	}

	h3{
		font-family: $font_light;
		font-weight: 300;
		font-size: em(36);
		line-height: 1;
		color: #C6C6C6;
		text-align: center;
		margin: 0 0 15px;
	}

	.scroll-down{
		
		&:before{
			background-color: #C6C6C6;
		}

		span{
			border-color: #C6C6C6;
		}
	}
}

#plano-timeline{
	background: url(../images/timeline-trail.svg) no-repeat center top;

	.container{
		max-width: 990px;
	}

	.timeline-item{
		position: relative;

		.arial{
			display: inline-block;
			margin-right: 20px;
		}
	}


	#timeline-item-01{
		float: right;
		margin: 0 50px 245px 0;

		p{
			max-width: 285px;
		}
	}

	#timeline-item-02{
		float: left;
		margin: 0 0 180px 20px;

		.title-h2{
			max-width: 415px;
		}

		p{
			max-width: 310px;
		}
	}

	#timeline-item-03{
		float: right;
		margin: 0 120px 215px 0;

		p{
			max-width: 340px;
		}
	}

	#timeline-item-04{
		float: left;
		margin: 0 0 290px 50px;

		.title-h2{
			max-width: 360px;
		}
	}

	#timeline-item-05{
		float: right;
		margin: 0 120px 130px 0;
	}

	.call-to-action{
		text-align: center;
		margin: 40px 0 0;
	}
}


#experience-boxes{

	.box-image{
		margin: 20px auto;
	}
}

#experience-motivos, #experience-boxes{
	h2{
		font-family: $font_light;
		font-weight: 300;
		font-size: em(30);
		line-height: 1;
		text-align: center;
		margin: 0 0 em(80, 30);
	}
}


#events-list{
	.title-h3{
		text-align: center;
		margin: 0 0 em(70, 30);
	}

	ul{
		margin: 0 -15px 0 -15px;
		padding: 0;

		&:before, &:after{
			content: "";
			clear: both;
		}

		&:after{
			display: table;
		}

		li{
			padding: 15px;
			display: block;
			float: left;
			width: 33.333333%;
			min-height: 420px;
		}
	}

	.box-event{
		.box-event-info{
			width: 100%;
			z-index: 0;
		}

		&.open{
			.box-event-info{
				position: absolute;
				z-index: 2;
				background-color: $color_primary;

				.event-date, .event-title{
					color: $color_body;
				}
			}

			.full-description{
				display: block;
			}

			&:hover{
				-webkit-box-shadow: none;
				box-shadow: none;
				background-color: $color_primary;
			}
		}
	}
}



/* Landing Page */
/* ----------------------------------------- */
	.sr-only {
		border: 0 !important;
		clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
		-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;  /* 2 */
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
		white-space: nowrap !important;            /* 3 */
	}

	/*
		Use in conjunction with .sr-only to only display content when it's focused.
		@note Useful for skip links 
		@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
		@note Based on a HTML5 Boilerplate technique, included in Bootstrap
		@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
			@author Sylvain Pigeard
			@see https://github.com/twbs/bootstrap/issues/20732
	*/
	.sr-only-focusable:focus,
	.sr-only-focusable:active {
		clip: auto !important;
		-webkit-clip-path: none !important;
			clip-path: none !important;
		height: auto !important;
		margin: auto !important;
		overflow: visible !important;
		width: auto !important;
		white-space: normal !important;
	}
	.clear {
		clear: both;
	}
	.d-none {
		display: none;
	}
	.yellow {
		color: $color_primary;
	}
	.bg {
		&-yellow {
			background-color: $color_primary;
		}
		&-dark {
			background-color: #2E2E38;
			color: white;
		}
	}	
	.font {
		&-bold {
			font-family: $font_bold;
		}
		&-light {
			font-family: $font_light;
		}
	}
	.mb-0 {
		margin-bottom: 0;
	}

	@media screen and (min-width: 768px) {
		.d-sm-none {
			display: none !important;
		}
		.d-sm-block {
			display: block !important;
		}
	}
	body.page-template-page-casadosaber-php {

		#main-footer .footer-social {
			background-color: #2E2E38;
		}

		header {
			margin-top: 99px;
		}
		#main-nav {
			background-color: #2E2E38;
			color: white;
			min-height: 99px;

			.nav-right {
				padding-top: 40px;
				margin-bottom: 10px;
				p {
					margin: 0;
					line-height: 1.1em;
				}
			}
		}

		section {
			padding-top: 60px;
			padding-bottom: 45px;
			margin-bottom: 0;
			position: relative;
			z-index: 2;
		}

		#intro {
			text-align: center;

			.text {
				margin-bottom: 2em;
			}

			h2 {
				line-height: normal;
			}
			
			.btn {
				margin-top: 1em;
				line-height: normal;
				height: auto;
				min-height: 45px;
				padding: 15px 30px;
			}

			// .banner {
			// 	min-height: 400px;
			// }

		}

		#categorias {
			text-align: center;
			h2 {
				line-height: normal;
				font-family: $font_base;
				font-weight: normal;
				span {
					display: block;
					font-family: $font_light;
					font-weight: normal;
				}
			}
		}

		#detalhes {
			text-align: center;

			h2 {
				font-family: $font_light;
				line-height: normal;
				font-weight: 400;
				font-size: 2em;
			}

			img {
				max-width: 70%;
			}
		}

		#form-casadosaber {
			text-align: left;
			margin-top: 2em;
			margin-bottom: 2em;

			.form-item {
				margin-bottom: 1em;
				label {
					display: block;
					font-family: $font_light;					
					font-weight: 400;
					font-size: .9em;
					padding-left: 3px;
				}
				input {
					border: 0;
					background-color: $color_primary;
					padding: 10px;
					width: 100%;					
				}

				&-warning {
					display: none;
				}

				&-submit {
					text-align: center;
					margin-top: 2em;
					input[type=submit] {
						width: auto;
						text-transform: uppercase;
						line-height: normal;
						padding-left: 30px;
						padding-right: 30px;
						appearance: none;
						font-family: $font_bold;
						cursor: pointer;
					}
				}
			}
		}

		.icones {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;

			.icone {
				&-img {
					width: 80px;
					height: 80px;
					margin: 20px auto;
					max-width: 100%;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center bottom;
				}
				&-title {
					p {
						line-height: normal;
					}
				}
			}
		}

		.detalhesrodape {
			.stores {
				text-align: center;
				a {
					display: inline-block;
					margin: 0 10px 20px;
				}
				img {
					max-width: 140px !important;
					max-height: 40px;
				}
			}

			.texto-extra {
				margin-bottom: 50px;
				p {
					line-height: normal;
					font-size: .9em;
				}
			}
		}

		@media screen and (min-width: 768px) {
			#main-nav {
				padding-top: 0 !important;
				padding-bottom: 0 !important;
				.logo {
					transform: scale(0.6);
					transform-origin: left;
					margin-top: -1em;
				}
			}

			.icones {
				grid-template-columns: 1fr 1fr 1fr;		
				max-width: 660px;
				margin: 0 auto;    		

				.icone {
					max-width: 158px;
    			margin: 0 auto;
				}
			}

			#categorias {
				h2 {
					font-size: 2em;
				}
			}
			#intro {
				h2 {
					font-size: 2.7em;
					margin-bottom: 0.4em;
				}
			}
			@media screen and (max-width: 992px) {
				#detalhes .container {
					max-width: 680px;
				}
			}

		} // @media screen and (min-width: 768px)

		@media screen and (min-width: 992px ) {
			.d-md-block {
				display: block !important;
			}
			.d-md-none {
				display: none !important;
			}
			section {
				padding-top: 120px;
				padding-bottom: 120px;
			}
			.container {
				max-width: calc(100vw - 100px);
			}
			#intro {
				text-align: left;
				.container {
					display: flex;	
					> div {

					}				
					.text {
						width: 40%;
						flex-shrink: 0;
						margin-right: 60px;
					}
				}
			} // #intro

			#categorias {
				h2 {
					font-size: 3em;
				}
			} // #detalhes

			#detalhes {
				text-align: left;
				> .container {
					&:first-of-type {
						display: flex;
						> div {
							width: 50%;
							flex-shrink: 0;
						}
					}
				}

				h2 {
					font-size: 2.8em;
				}

				.right {
					padding-left: 10%;
					padding-top: 5%;
					padding-right: 2%;
				}

				img {
					max-width: 300px;
				}

				form {
					display: grid;
					grid-template-columns: 50% 50%;
					grid-gap: 0 30px;
					.form-item {
						label {
							font-size: 1.1em;
							margin-bottom: 0.3em;
						}

						input {
							padding: 16px 10px;
						}
						
						&-row {
							grid-column-start: 1;
							grid-column-end: 3;
						}
						&-submit {
							margin-top: 1em;
						}
					}
				}

			} // #detalhes

			.texto-extra {
				text-align: center;
				margin-top: 2em;
				margin-bottom: 0;
			}
		
		} // @media screen and (min-width: 992px ) 

		@media screen and (min-width: 1400px ) {			
			.d-desktop-block {
				display: block !important;
			}
			.d-desktop-none {
				display: none !important;
			}
			.container {
				max-width: 1320px;
			}

			#detalhes {
				.container {
					max-width: 1200px;
				}
			}

			#intro {
				.container {
					.text {
						width: 36%;	
					}
				}
			}
		}


		.select2-container--default {
			.select2-search--dropdown  {
				.select2-search__field {
					border: 0;
					padding: 10px 24px;
					line-height: 24px;
				}
			}
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 45px;
		}

		.select2-dropdown {
			background-color: $color_primary;
			border: 0;
		}

		.select2-results__option {
			color: black;
		}

	} // body.page-template-page-casadosaber-php 


	#form-casadosaber {
		.loader {
			display: none;
		}
		&.--msg {
			.form-item-warning {
				display: block !important;
			}
		}
		&.loading {
			pointer-events: none;
			.form-item:not(.form-item-submit) {
				opacity: .5;
			}
			.form-item-submit {
				input {
					display: none;
				}
			}
			.loader {
				display: block;
			}
		}

		+ .form-message {
			display: none;
		}

		&.finished {
			display: none !important;
			+ .form-message {
				display: block;
			}

			&.--error + .form-message {
				border-color: tomato;
			}
		}
	}

	.form-item-warning p {
		max-width: 450px;
		margin: 10px auto;
		padding: 10px 30px;
		border: 2px solid tomato;
	}
	.form-message {
		text-align: center;
		max-width: 450px;
		margin: 30px auto;
		padding: 30px;
		border: 1px solid lightgreen;		
		* {
			margin: 0;
		}
	}

	.lds-facebook {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
	}
	.lds-facebook div {
		display: inline-block;
		position: absolute;
		left: 8px;
		width: 16px;
		background: #FDE500;
		animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
	}
	.lds-facebook div:nth-child(1) {
		left: 8px;
		animation-delay: -0.24s;
	}
	.lds-facebook div:nth-child(2) {
		left: 32px;
		animation-delay: -0.12s;
	}
	.lds-facebook div:nth-child(3) {
		left: 56px;
		animation-delay: 0;
	}
	@keyframes lds-facebook {
		0% {
			top: 8px;
			height: 64px;
		}
		50%, 100% {
			top: 24px;
			height: 32px;
		}
	}

	.poligono {
		&-limit {
			margin: 60px auto 40px;
			max-width: 335px;
		}
		&-wrapper {
			padding-top: 70px;
			clip-path: polygon(0 60px, 0 100%, 100% 100%, 100% 0);
			background-color: $color_primary;
		}
		&-content {
			padding: 20px 40px 30px;
			h1 {
				font-family: $font_light;
				font-size: 1.8em;
				margin: 0 0 10px 0;
				line-height: normal;
			}
			p {
				font-family: $font_light;
				margin: 0;
			}
		}

		@media screen and (min-width: 992px ){

			&-limit {
				max-width: 420px;
			}
			&-wrapper {
				position: relative;
				left: 50%;
			}
			&-content {
				padding: 30px 40px 40px;
				h1 {
					font-size: 2.4em;
				}
				p {
					font-size: 1.4em;
					line-height: normal;
				}
			}
		}

	}

	body.page-id-657 {
		header {
			.content {				
				padding: 20px 0 0;
				overflow: hidden;
				min-height: calc(100vh - 99px);
				position: relative;

				background-image: url('../images/lp-casadosaber-bg-header-fundo.jpg');
				background-repeat: no-repeat;
				background-position: center top;
				overflow: hidden;
				max-width: 1920px;
				margin: 0 auto;

			}

			.poligono-limit {
				position: relative;
				z-index: 5;
			}

			.bgs {
				position: absolute;
				top: 0;
				left: 0;
				height: 120%;
				width: 100%;
				background-repeat: no-repeat;
				background-position: center top;
				
				// &--fundo {
				// 	background-image: url('../images/lp-casadosaber-bg-header-fundo.jpg');
				// 	z-index: 1;
				// }
				
				&--cell {
					background-image: url('../images/lp-casadosaber-bg-maos-cabeca-cel.png');
					z-index: 3;
				}
			}

			.gsap-cell {
				transform-origin: bottom left;
				margin-bottom: -50px;
			}
		}
	}
	#college {
		+ .select2 {
			max-width: 100%;
			width: 100% !important;			
			.select2-selection {
				border: 0;
				background-color: $color_primary;
				border-radius: 0;
			}
		}
	}
/* ----------------------------------------- Landing Page */
#wrap {
	overflow-x: hidden;
}