@media only screen and (max-width: 1650px) {
	#page-menu{
		left: 0;
		width: 100%;

		ul{
			display: table;
			margin: 0 auto;
			width: auto;

			li{
				float: left;
				margin: 0;
			}
		}
	}
}


@media only screen and (max-width: 1340px) {
	#page-programa{
		.header-default{
			-webkit-background-size: 150% auto;
			background-size: 150% auto;
		}
	}
}



@media only screen and (max-width: 1180px) {

	#full-menu{
		#main-menu{
			.primary-menu{
				li{
					a{
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}

	#home-header{
		.scroll-down{
			bottom: 20px;
		}

	}

	#h-section-06{
		.next-events{
			.owl-carousel{
				li{
					.box-event{
						min-height: 380px;
					}
				}
			}
		}
	}

	#h-section-universum{
		.table-container{
			.col-text{
				padding: 30px 0;

				.content{

					img{
						position: static;
						margin: 0 0 30px;
					}
				}
			}
		}
	}

	.header-default{
		-webkit-background-size: 150% auto;
    	background-size: 150% auto;
	}
}

@media only screen and (max-width: 1050px) {
	#home-header{
		.scroll-down{
			display: none;
		}

		.owl-carousel{
			.owl-item{
				> li{
					.home-header-footer{
						.floatright{
							h4{
								margin-right: 0;
							}
							h5{
								display: none;
							}
						}
					}
				}
			}
		}
	}


	#h-section-01{
		h3{
			font-size: em(120);
		}
	}
}


@media only screen and (max-width: 990px) {

	.page-content{
		> section{
			margin-bottom: 60px;
		}
	}

	.collapse{
		.collapse-body{
			.table-content{
				.col-text{
					display: block;
					width: 100%;
				}
				.col-image{
					display: block;
					width: 100%;
				}
			}
		}
	}

	.box-image{
		display: flex;
		flex-wrap: wrap;
		height: auto;

		> div{
			display: block;
		}

		.box-img{
			width: 100%;
			order: 1;
			padding-top: 60%;
		}

		.box-text{
			width: 100%;
			order: 2;
			padding: 50px;
		}

		&.white{
			.box-text{
				padding: 50px;
			}
		}

		&.video{
			.box-img{
				padding: 0;
				width: 100%;

				img{
					width: 100%;
					height: auto;
				}
			}

			.box-text{
				padding: 50px;
			}
		}
	}

	ul.unordered-list{
		margin-right: 30px;
	}

	#sobre-presenca{
		.brasil-map{
			.map{
				display: none;
			}

			.brasil-text{
				margin: 0 auto;
				padding: 0;
				float: none;

				.numbers{
					li{
						font-size: em(24);
					}
				}
			}
		}
	}

	.bg-yellow{
		padding: 45px 0 60px;
	}

	#plano-timeline{
		background: transparent;
		margin: 100px 0 50px;

		.timeline-item{
			float: left !important;
			padding: 0 0 120px 30px !important;
			margin: 0 !important;
			border-left: 5px solid #EEE;

			&:before{
				content: "";
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background-color: #737373;
				border: 4px solid $color_primary;
				position: absolute;
				left: 0;
				margin-left: -18px;
				box-sizing: border-box;
				z-index: 1;
			}

			.page-subtitle{
				padding-left: 0;

				&:before{
					display: none;
				}
			}

		}
		
		#timeline-item-05{
			padding-bottom: 30px !important;
		}
	}
}

@media only screen and (max-width: 975px) {
	#page-programa{
		.header-default{
			-webkit-background-size: 200% auto;
			background-size: 200% auto;
		}
	}
}

@media only screen and (max-width: 900px) {
	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.home-header-footer{
						.floatright{
							h4{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-height: 740px) {
	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.home-header-text{
						width: 400px;
					}
				}
			}
		}
	}
}

@media only screen and (max-height: 650px) {
	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.home-header-text{
						width: 350px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 880px) {
	#h-section-01{
		h3{
			font-size: em(80);
		}
	}
}


@media only screen and (max-width: 768px) {

	.title-h2{
		font-size: em(40);
	}

	#h-section-universum{
		.table-container{

			.col-img{
				width: 100%;
				display: block;
				height: 300px;
			}

			.col-text{
				width: 100%;
				display: block;

				.content{
					max-width: 100%;
					padding: 50px 25px;

					img{
						position: static;
						margin: 0 0 30px;
					}
				}
			}
		}
	}

	#h-section-02{
		.table-content{
			.table-col{
				&:last-child{
					padding-left: 50px;
				}
			}
		}
	}

	#programa-calendario{
		.table-content{
			.col-icon{
				width: 110px;
			}
		}
	}

	.header-default, .header-full{
		-webkit-background-size: cover;
		background-size: cover;
		background-attachment: inherit;
		background-position: center;
	}

	#page-programa{
		.header-default{
			-webkit-background-size: cover;
			background-size: cover;
		}
	}

	.header-default{
		height: 400px;
	}

	.header-full{
		.scroll-down{
			bottom: 30px;
		}
	}

	#events-list{
		ul{
			li{
				width: 50%;
			}
		}
	}
}

@media only screen and (min-width: 741px) {
	.collapse{

		.collapse-button{
			
			&.big{
				width: 50px;
				height: 50px;

				&:before{
					margin-left: -1px;
					margin-top: -9px;
					width: 2px;
					height: 18px;
				}

				span{
					width: 12px;
					height: 12px;
					margin-top: 10px;
					border-width: 2px;
				}
			}
		}

		.collapse-header-big{		
			.collapse-button{
				position: absolute;
				right: 30px;
				top: 50%;
				margin-top: -25px;
			}
		}

		.collapse-body{

			.collapse-button{
				&.big{
					right: 30px;
					bottom: 30px;
				}
			}
		}

	}

	.box-event{
		&:hover{
			background-color: #fff;
			-webkit-box-shadow: 0 9px 15px 0 rgba(99,99,99,.5);
			box-shadow: 0 9px 15px 0 rgba(99,99,99,.5);

			.box-event-info{
				h3, p{
					color: #171616;
				}
			}
		}
	}
}

@media only screen and (max-width: 740px) {
	.container{
		padding: 0 25px;
	}

	p{
		font-weight: normal;
	}

	.hide-mobile{
		display: none !important;
	}

	.show-mobile{
		display: block !important;

		&.btn{
			display: inline-block !important;
		}
	}

	#main-nav{
		padding: 0 0 15px;

		.btn-action{
			display: none;
		}
	}

	#full-menu{
		.container{
			.toggle-menu{
				top: 17px;
				right: 25px;
			}
		}

		#main-menu{
			.primary-menu{
				li{
					a{
						font-size: em(25);
						font-weight: normal;
						line-height: em(60, 25);
						padding-right: 25px;
					}
				}
			}
		}

		.social-menu{
			display: none;
		}

		.call-to-action{
			padding: 0 25px;
		}
	}


	.toggle-menu{
		button{
			span.label{
				display: none;
			}
		}
	}

	body.scroll{
		#main-nav{
			padding: 0 0 15px;
		}

		#full-menu{
			.container{
				.toggle-menu{
					top: 47px;
				}
			}
		}
	}

	#home-header{

		.owl-carousel .owl-item > li{

			.container{
				padding: 0 25px;
			}

			.home-header-footer{
				display: none;
			}

		}
	}

	#bgvid{
		display: none;
	}


	#h-section-01{
		height: auto;
		display: block;
		// background-image: url(../images/bg-hsection01-mobile.jpg);
		background-position: center top;
		-webkit-background-size: cover;
		background-size: cover;
		padding: 50px 0;

		h2{
			font-weight: normal;
			margin-bottom: 40px;
		}

		h3{
			font-size: em(30);
			margin-bottom: 40px;
		}

		.scroll-down{
			display: none;
		}
	}


	.title-h1{
		padding: 0 25px;
		font-size: em(26);
	}

	.title-h2{
		font-size: em(22);
	}

	#experience-motivos, #experience-boxes{
		h2{
			font-size: em(22);
			padding: 0 25px;
		}
	}

	.title-h3{
		font-size: em(20);
	}

	.header-full{
		h2{
			padding: 0 25px;
			font-size: em(18);
		}
	}

	#h-section-02{
		padding: 50px 0;

		h2{
			text-align: left;
			padding-right: 30px;
		}

		.table-content{
			display: block;
			margin-bottom: 30px;

			.table-col{
				display: block;
				width: 100%;

				&:first-child{
					padding: 0;
					border: none;

					.btn{
						display: none;
					}

					p{
						margin-bottom: 30px;
					}
				}

				&:last-child{
					padding: 0;
				}
			}
		}
	}

	#h-section-universum{
		.table-container{

			.col-img{
				width: 100%;
				display: block;
				height: 300px;
			}

			.col-text{
				padding: 0;
				width: 100%;
				display: block;

				.content{
					padding: 50px 25px;
				}
			}
		}
	}

	.parallax-panel{
		height: auto;
		display: block;
		background-color: #FFF;

		.bg-parallax{
			background-attachment: inherit;
			position: static;
			padding-top: 70%;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
		}

		.content-cell{
			display: block;
		}
	}

	.home-panel{
		float: none !important;
		width: 100%;

		.home-panel-header{
			display: none;
		}

		.home-panel-body{
			min-height: inherit;
			padding: 50px 0;
			background-color: #fff;

			h2{
				font-size: em(30);
				max-width: 280px;
			}

			.btn{
				background-color: $color_primary;
			}
		}
	}

	#h-section-05{
		height: auto;
		background-color: #FFF;

		.home-panel2-body{
			position: static;
		    transform: translateX(0);
			-webkit-transform: translateX(0);
			padding: 50px 25px;

			.hashtag{
				display: none;
			}

			h2{
				font-size: em(30);
			}
		}

		.bg-parallax{
			background-attachment: inherit;
			position: static;
			padding-top: 70%;
			height: auto;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
		}

		.bar-bottom{
			display: none;
		}
	}

	#h-section-06{
		display: none;
		padding: 50px 0;
		background: #E6E6E6;

		.container{
			padding: 0;
		}

		h2{
			font-size: em(30);
			margin-bottom: 40px;
		}

		.next-events{
			margin: 0;

			.owl-carousel{
				li{
					padding: 0;
				}
			}

			.allevents{
				margin-top: 50px;
				padding: 0 25px;
			}
		}
	}

	.box-event{
		min-height: inherit;

		.box-event-info{
			.event-date{
				font-size: em(25);
				margin-bottom: 10px;
			}
		}
	}

	#h-section-06{
		.box-event{
			background-color: #fff;

			.box-event-info{
				.event-date{
					color: #000;
				}

				.event-title{
					color: #000;
				}
			}
		}
	}

	#main-footer{
		.footer-links{
			background: #DBDBDB;

			.table-content{
				.col{
					padding: 0 5px;

					&:nth-child(5){
						padding-bottom: 5px;
					}
				}
			}
		}
	}

	.quotes-default{
		font-size: em(20);
	}

	ul.unordered-list{

		&.small{
			li{
				line-height: em(30);
			}
		}
	}

	.collapse{
		.collapse-header-big{
			height: 70px;
			margin-bottom: 10px;

			.collapse-title{
				font-size: em(22);
			}
			a{
				padding-right: 55px;
				padding-left: 25px;
			}

			.collapse-button{
				right: 15px;
			}
		}

		.collapse-body{
			margin: 10px 0 20px;

			.table-content{
				.col-text{
					padding: 35px 25px;

					h4{
						font-size: em(20);
					}
				}
			}

			.collapse-button{
				bottom: 15px;
				right: 15px;
			}
		}
	}

	.image-with-bar{
		padding: 0 25px;
	}

	.box-image{
		.box-text{
			padding: 35px 25px;
		}

		& + .box-image{
			margin-top: 60px;
		}

		&.white{
			.box-text{
				padding: 35px 25px;
			}
		}

		&.video{
			.box-text{
				padding: 35px 25px;
			}
		}
	}

	.programs-list{
		.container{
			ul{
				margin: 0;

				li{
					width: 100%;
					padding: 0;
					margin: 0 0 30px;
				}
			}
		}
	}

	#other-links{
		margin-top: 90px;
	}


	#page-menu{
		span{
			display: block;
		}

		ul{
			display: none;
			background-color: #F4F4F4;
			position: absolute;
			top: 45px;
			left: 0;
			width: 100%;

			li{
				width: 100%;
				float: none;

				a{
					text-align: center;

					&.active{
						display: none;
					}
				}
			}
		}
	}

	#sobre-presenca{
		.presenca-map{
			h4{
				padding: 0 25px;
				font-size: em(25);
			}
		}
	}

	#sobre-presenca{
		.brasil-map{
			.brasil-text{
				.cities{
					padding-bottom: 0;
				}
			}
		}
	}
	
	#programa-intro{
		padding: 60px 0;
		height: auto;
		background-position: center right 40%;
	}

}

@media only screen and (max-width: 740px) and (max-height: 420px) {
	#full-menu{
		#main-menu{
			.primary-menu{
				margin: 30px auto;

				li{
					a{
						line-height: normal;
					}
				}
			}
		}

		.call-to-action{
			padding: 0 50px;
		}
	}

	#main-nav{
		.logo{
			.icon{
				width: auto !important;
				height: 20px !important;
			}
			.full{
				margin-top: 6px;
				width: auto !important;
				height: 30px !important;
			}
		}
	}


	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.container{
						padding: 0 25px;
					}

					.content{
						padding-bottom: 20px;
					}

					.home-header-bg{
						&.show-mobile{
							display: none !important;
						}
						&.hide-mobile{
							display: block !important;
						}
					}

					.home-header-text{
					    width: 200px;
					}

					.home-header-footer{
						display: block;
						margin-top: -20px;

						.floatright{
							font-size: 70%;

							h4{
								display: block;
							}
						}
					}

				}
			}
		}
	}

	.parallax-panel{
		.bg-parallax{
			padding-top: 30%;
		}
	}

	.home-panel{
		max-width: 100%;
		margin: 0 auto;

		.home-panel-body{
			h2{
				max-width: 100%;
			}
		}
	}

	.home-panel2{
		.btn{
			width: auto;
		}
	}

	#h-section-01{
		.content-cell{
			display: block;
			width: 100%;
		}

		p{
			max-width: 100%;
		}
	}

	#h-section-05{
		.bg-parallax{
			padding-top: 30%;
		}
	}

}

@media only screen and (max-width: 580px) and (max-height: 350px) {
	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.content{
						padding-bottom: 10px;
					}

					.home-header-text{
					    width: 180px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 550px) {

	#main-nav{
		.logo{
			.icon{
				width: auto !important;
				height: 20px !important;
			}
			.full{
				margin-top: 6px;
				width: auto !important;
				height: 30px !important;
			}
		}
	}

	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.content{
						padding-bottom: 20px;
					}
					.home-header-text{
						width: 100%;
					    /*height: auto;
					    padding-top: 86%;

					    .text{
					    	font-size: 75%;
					    }*/
					}
				}
			}
		}
	}

	.header-full{
		.scroll-down{
			display: none;
		}
	}

	#events-list{

		.title-h3{
			padding: 0 30px;
		}

		ul{
			margin: 0;

			li{
				min-height: inherit;
				width: 100%;
				padding: 0;
				margin: 0 0 20px;
			}
		}

		.box-event{
			&.open{
				.box-event-info{
					position: relative;
				}
			}
		}
	}
}


@media only screen and (max-width: 420px) {

	#h-section-01 p, .text-content p{
		text-align: left;
	}

	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.home-header-text{
						.text{
							font-size: 65%;
						}
					}
				}
			}
		}
	}

	.page-content{
		.header-default, .header-full{
			margin-bottom: 60px;
		}
	}

	#page-sobre-a-ey{
		.header-default, .header-full{
			margin-bottom: 120px;
		}
	}

	#sobre-presenca{
		.brasil-map{
			.brasil-text{
				.cities{
					border: none;
				}
			}
		}
	}

	.btn{
		padding: 0;
		width: 100%;
		text-align: center;

		&.btn-lg{
			padding: 0;
		}
	}

	.social-menu{
		li{
			margin-right: 20px;
		}
	}

	ul.unordered-list{
		margin: 0;
	}

	.collapse{
		.container{
			padding: 0;

			&.container-900{
				padding: 0 25px;
			}
		}

		.collapse-item{
			margin-bottom: 10px;
		}

		.collapse-header{
			a{
				padding: 0 55px 0 25px;
			}
			.collapse-button{
				right: 15px;
			}
			.collapse-title{
				line-height: 1.3;
			}
		}

		.collapse-header-big{
			margin: 0;
		}

		.collapse-body{
			margin: 0;
			padding: 20px 25px 60px;
		}

		.collapse-header-big + .collapse-body{
			padding: 0;
		}

		.item-number{
			.collapse-header{
				a{
					padding: 0;
				}
				.collapse-title{
					font-size: em(16);
				}
			}

			.collapse-body{
				padding: 0;
			}
		}
	}

	#other-links{
		ul{
			margin: 0;

			li{
				padding: 0;
				width: 100%;
				margin: 0 0 20px;
			}
		}
	}

	#programa-intro{
		h2{
			font-size: em(40);
		}
	}

	#programa-calendario{
		.table-content{
			.col-icon{
				display: block;
				width: 100%;
			}

			.col-text{
				display: block;
				width: 100%;
			}
		}
	}

	#plano-timeline{
		.timeline-item{
			p{
				max-width: 100%;
			}			
		}
	}

	#main-footer{
		.footer-social{
			.footer-social-table{

				> div{
					float: none;
				}

				.footer-social-share{
					margin-left: 0;
					padding-left: 0;

					&:after{
						display: none;
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 380px) {
	#h-section-06{
		.next-events{
			.owl-carousel{
				li{
					.box-event{
						min-height: 340px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 350px) {
	#home-header{
		.owl-carousel{
			.owl-item{
				> li{
					.home-header-text{
						.text{
							font-size: 55%;
						}
					}
				}
			}
		}
	}

	#plano-intro{
		h3{
			font-size: em(30);
		}
	}
}

@media only screen and (max-width: 320px) {
	#full-menu{
		#main-menu{
			.primary-menu{
				margin: 0 auto 30px;
			}
		}
	}

	.social-menu{
		li{
			a{
				width: 50px;
				height: 50px;
			}
		}
	}

	#h-section-01{
		h3{
			font-size: em(30);
		}
	}

	#h-section-02{
		h2{
			padding: 0;
		}
	}
}


/* High PX Density */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}