@font-face {
  font-family: 'EYInterstate-Bold';
  src: url("../fonts/EYInterstate-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Bold.woff") format("woff"), url("../fonts/EYInterstate-Bold.ttf") format("truetype"), url("../fonts/EYInterstate-Bold.svg#EYInterstate-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-BoldItalic';
  src: url("../fonts/EYInterstate-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-BoldItalic.woff") format("woff"), url("../fonts/EYInterstate-BoldItalic.ttf") format("truetype"), url("../fonts/EYInterstate-BoldItalic.svg#EYInterstate-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-Italic';
  src: url("../fonts/EYInterstate-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Italic.woff") format("woff"), url("../fonts/EYInterstate-Italic.ttf") format("truetype"), url("../fonts/EYInterstate-Italic.svg#EYInterstate-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-Light';
  src: url("../fonts/EYInterstate-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Light.woff") format("woff"), url("../fonts/EYInterstate-Light.ttf") format("truetype"), url("../fonts/EYInterstate-Light.svg#EYInterstate-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-LightBold';
  src: url("../fonts/EYInterstate-LightBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-LightBold.woff") format("woff"), url("../fonts/EYInterstate-LightBold.ttf") format("truetype"), url("../fonts/EYInterstate-LightBold.svg#EYInterstate-LightBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-LightBoldItalic';
  src: url("../fonts/EYInterstate-LightBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-LightBoldItalic.woff") format("woff"), url("../fonts/EYInterstate-LightBoldItalic.ttf") format("truetype"), url("../fonts/EYInterstate-LightBoldItalic.svg#EYInterstate-LightBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-LightItalic';
  src: url("../fonts/EYInterstate-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-LightItalic.woff") format("woff"), url("../fonts/EYInterstate-LightItalic.ttf") format("truetype"), url("../fonts/EYInterstate-LightItalic.svg#EYInterstate-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EYInterstate-Regular';
  src: url("../fonts/EYInterstate-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EYInterstate-Regular.woff") format("woff"), url("../fonts/EYInterstate-Regular.ttf") format("truetype"), url("../fonts/EYInterstate-Regular.svg#EYInterstate-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }